<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="Host" value="localhost"/>
		<add key="Port" value="5555"/>
		<add key="EnvironmentName" value="NewEnvironmentName"/>
		<add key="EnvironmentDesc" value="New environment description"/>
		<add key="EnvironmentId" value=""/>
		<add key="TemplateId" value=""/>
		<add key="TemplateName" value="Default Template"/>
		<add key="IsDefault" value="false"/>
	</appSettings>
</configuration>
